<p id="notice"><%= flash[:notice] %></p>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render "users/userinfo", user: @user, book: @new_book %>
    </div>
    <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table table-hover table-inverse">
            <tbody>
                <tr>
                    <td>
                        <%= link_to user_path(@user.id) do %>
                            <%= image_tag @user.get_profile_image %>
                            <%= @user.name %>
                        <% end %>
                    </td>
                    <td>
                        <%= link_to book_path(@book.id) do %>
                            <%= @book.title %>
                        <% end %>
                    </td>
                    <td><%= @book.body %></td>
                    <td>
                        <% if @book.favorited_by?(current_user) %>
                            <%= link_to book_favorites_path(@book), method: :delete do %>
                                <i class="fa-solid fa-heart"></i><%= @book.favorites.count %> いいね
                            <% end %>
                        <% else %>
                            <%= link_to book_favorites_path(@book), method: :post do %>
                                <i class="fa-regular fa-heart"></i><%= @book.favorites.count %> いいね
                            <% end %>
                        <% end %>
                    </td>
                    <td>コメント数: <%= @book.book_comments.count %></td>
                    <% if @book.user == current_user %>
                        <td><%= link_to "Edit", edit_book_path(@book.id), class: "btn bn-sm btn-success" %></td>
                        <td><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "Are you sure?", class: "btn btn-danger" %></td>
                    <% end %>
                </tr>
            </tbody>
        </table>
        <div>
            <h3>Comments</h3>
            <% @book.book_comments.each do |book_comment| %>
                <div>
                    <%= image_tag book_comment.user.get_profile_image %>
                    <%= link_to book_comment.user.name, user_path(book_comment.user) %>
                    <%= book_comment.comment %>
                    <% if book_comment.user == current_user %>
                        <%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment.id),  method: :delete %>
                    <% end %>
                </div>
            <% end %>
        </div>
        <div>
            <%= form_with model: [@book, @book_comment] do |f| %>
                <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
                <%= f.submit "送信する" %>
            <% end %>
        </div>
    </div>
  </div>
</div>